[submodule "Engine/ThirdParty/yaml"]
	path = Engine/ThirdParty/yaml
	url = https://github.com/MadLadSquad/yaml-cpp.git
[submodule "Engine/ThirdParty/glm"]
	path = Engine/ThirdParty/glm
	url = https://github.com/MadLadSquad/glm.git
[submodule "Engine/ThirdParty/imgui"]
	path = Engine/ThirdParty/imgui
	url = https://github.com/MadLadSquad/imgui.git
[submodule "Engine/ThirdParty/openal"]
	path = Engine/ThirdParty/openal
	url = https://github.com/MadLadSquad/openal-soft.git
[submodule "Engine/ThirdParty/glfw"]
	path = Engine/ThirdParty/glfw
	url = https://github.com/MadLadSquad/glfw.git
[submodule "Engine/ThirdParty/glew"]
	path = Engine/ThirdParty/glew
	url = https://github.com/MadLadSquad/glew.git
[submodule "UVKBuildTool"]
	path = UVKBuildTool
	url = https://github.com/MadLadSquad/UVKBuildTool.git
[submodule "Engine/ThirdParty/uvklog"]
	path = Engine/ThirdParty/uvklog
	url = https://github.com/MadLadSquad/UVKLog.git
[submodule "Engine/ThirdParty/vulkan/headers"]
	path = Engine/ThirdParty/vulkan/headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "Engine/ThirdParty/entt"]
	path = Engine/ThirdParty/entt
	url = https://github.com/MadLadSquad/entt.git
[submodule "Engine/ThirdParty/imguiex/implot"]
	path = Engine/ThirdParty/imguiex/implot
	url = https://github.com/MadLadSquad/implot.git
[submodule "Engine/ThirdParty/imguiex/imguizmo"]
	path = Engine/ThirdParty/imguiex/imguizmo
	url = https://github.com/MadLadSquad/ImGuizmo.git
[submodule "UVKShaderCompiler"]
	path = UVKShaderCompiler
	url = https://github.com/MadLadSquad/UVKShaderCompiler.git
[submodule "Engine/ThirdParty/assimp"]
	path = Engine/ThirdParty/assimp
	url = https://github.com/MadLadSquad/assimp.git
[submodule "Engine/ThirdParty/imguiex/umath"]
	path = Engine/ThirdParty/imguiex/umath
	url = https://github.com/MadLadSquad/UntitledMath.git
[submodule "Engine/ThirdParty/freetype"]
	path = Engine/ThirdParty/freetype
	url = https://github.com/MadLadSquad/freetype.git
