[submodule "Engine/ThirdParty/GLEW"]
	path = Engine/ThirdParty/GLEW
	url = https://github.com/MadLadSquad/glew.git
[submodule "Engine/ThirdParty/GLFW"]
	path = Engine/ThirdParty/GLFW
	url = https://github.com/MadLadSquad/glfw.git
[submodule "Engine/ThirdParty/GLM"]
	path = Engine/ThirdParty/GLM
	url = https://github.com/MadLadSquad/glm.git
[submodule "Engine/ThirdParty/YAML"]
	path = Engine/ThirdParty/YAML
	url = https://github.com/MadLadSquad/yaml-cpp.git
[submodule "Engine/ThirdParty/imgui"]
	path = Engine/ThirdParty/imgui
	url = https://github.com/MadLadSquad/imgui.git
