cmake-build-debug/
.idea/
cmake-build-release/
.vs/
.vs-code/
Source/
Generated/
Exported/
build/
Config/Settings
Config/Engine/GameKeybinds.yaml
CMakeLists.txt
uvproj.yaml
Content/Engine/brick.jpg
*.spv
Content/Res/